<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>What.MV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <h1><a href="/">What.MV - A Movie Lookup Service</a></h1>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Search</a></li>
                    <li><a href="{{ url_for('contactForm') }}">Contact</a></li>
                </ul>
            </div>
        </nav>
        <main>
            {% block content %}
                <div class="box">
                    What movie would you like to find information about?
                    <form class="movie" action="{{ url_for('getMovieInfo') }}">
                        <input type="text" name="search">
                    </form>
                </div>
            {% endblock %}
        </main>
    </body>
    <footer>
</html>