{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <div class="child">
            <h1>{{ movieInfo["original_title"] }} </h1>
            <p> <b>Genre(s): </b> {{ movieInfo["genres"][0]["name"] }} </p>

            <div class="ratings">
                <ul style="list-style-type:none">
                    {% for i in range(3) %}
                        <li><b>{{ ratings[i]["Source"] }}</b> Rating: {{ ratings[i]["Value"] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
            <img src={{ moviePoster }} max-width: 20%>
            <p>{{ movieInfo["overview"] }}</p>
            <h3> Movie Trailer</h3>
            <iframe width="480" height="360" src={{ movieTrailer }}> Movie Trailer </iframe>
    </div>

    <div class="container">
        <h3> Where to watch</h3>
        <ul>
            <div class="sources">
                {% for n in range(streamSources["buy"]| length)  %}
                    <li><a href={{ streamSources["link"] }}>
                        <img src=https://www.themoviedb.org/t/p/original{{ streamSources["buy"][n]["logo_path"] }}> {{ streamSources["buy"][n]["provider_name"] }}
                    </a></li>
                {% endfor %}
                </div>
        </ul>
    </div>
    <br>

    <div class="container">
        <h3> Cast: </h3>
        <ul>
            <div class="profile">
                {% for i in range(4) %}
                    <li>{{ movieCast[i]["character"] }}
                    <img src=https://www.themoviedb.org/t/p/w276_and_h350_face{{ movieCast[i]["profile_path"] }} alt="Profile picture of  " {{ movieCast[0]["name"] }}> Played by: {{ movieCast[i]["name"] }} </li>
                {% endfor %}
            </div>
        </ul>
    </div>

    <ul>
        <div class="container">
            <h3> If you liked Chef...</h3>
            <div class="suggestions">
                {% for i in range(4) %}
                    <li>{{ suggestedMovies[i]["title"] }}
                    <img src=https://www.themoviedb.org/t/p/w250_and_h141_face{{ suggestedMovies[i]["poster_path"] }} alt="Poster of " {{ suggestedMovies[i]["title"] }}>  </li>
                {% endfor %}
            </div>
         </div>
    </ul>
</body>
<style>

    body {
        background-color: #2d3436;
        color: #b2bec3;
        padding-bottom: 4%;
    }

    .container > img {
        max-width: 150px;
        max-height: auto;
    }
    .profile > li {
        margin: 10px;
    }
    .profile > li > img {
        max-width: 80px;
        max-height: auto;
        padding: 10px
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }

        .sources > li > a > img {
            max-width: 40px;
            padding: 10px
        }

    li {
        display: inline-block;
        width: 65%;
        }

    @media screen and (min-width: 20em) {

    li {
        width: 33.33333%;
    }


</style>
{% endblock %}
